body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.product-item {
  width: 450px;
  min-height: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #d9d9d9;
  box-shadow: 0px 2px 23px 8px rgba(0, 0, 0, 0.56);
}

.texts {
  width: 80%;
}

.product-price {
  color: green;
}

.texts span {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.image-gallery {
  position: relative;
  width: 250px;
  margin: 0 auto;
}

.slider {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slider .product-image {
  width: 100%;
  height: auto;
  display: none;
}

.slider .product-image:first-child {
  display: block;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px;
  z-index: 1;
}

.prev-btn {
  left: -30px;
}

.next-btn {
  right: -30px;
}